{% extends 'baseAdmin.html.twig' %}

{% block title %}Cut{% endblock %}

{% block body %}
    <h1>Cut</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cut.id }}</td>
            </tr>
            <tr>
                <th>CutValue</th>
                <td>{{ cut.cutValue }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cut_index') }}">back to list</a>

    <a href="{{ path('app_cut_edit', {'id': cut.id}) }}">edit</a>

    {{ include('cut/_delete_form.html.twig') }}
{% endblock %}
