{% extends 'baseAdmin.html.twig' %}

{% block title %}Admin produit{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">nom</th>
                <th scope="col"> ref </th>
                <th scope="col">prix HTVA</th>
                <th scope="col">Créer</th>
                <th scope="col">Modifier </th>
                <th scope="col">Action</th>
                <th scope="col">photo</th>
                <th scope="col">Active</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td scope="row">{{ product.nameProduct }}</td>
                <td>{{ product.amountHTVA| number_format(2, ',' , ' ') }}€ </td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.modifiedAt ? product.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.action }}</td> 
                <td><img  class="imgCol" src="{{asset('/upload/images/product/' ~ product.firstImage)}}"><td>
                <td>{{ product.active }}</td>
                <td>

                    <td><a href="{{ path('app_product_show', {'id': product.id}) }}">Fiche Produit</a></td>
                    <td><a href="{{ path('app_product_color_new', {'id': product.id}) }}">Ajouter produits associés</a></td>
                    <td><a href="{{ path('app_product_edit', {'id': product.id}) }}"><i class="fa-solid fa-pen-to-square"></a></i>

</a></td>
                    <td>{{ include('product/_delete_form.html.twig') }}</td>
                </td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="9">il n'y a pas des produits disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
