{% extends 'baseAdmin.html.twig' %}

{% block title %}HistoriquePrices{% endblock %}

{% block body %}
    <h1>HistoriquePrices</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ historique_price.id }}</td>
            </tr>
            <tr>
                <th>Start_date_prices_sale_htva</th>
                <td>{{ historique_price.startDatePricesSaleHtva ? historique_price.startDatePricesSaleHtva|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EndDatePricesSaleHTVA</th>
                <td>{{ historique_price.endDatePricesSaleHTVA ? historique_price.endDatePricesSaleHTVA|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AmountHTVA</th>
                <td>{{ historique_price.amountHTVA }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_historique_prices_index') }}">back to list</a>

    <a href="{{ path('app_historique_prices_edit', {'id': historique_price.id}) }}">edit</a>

    {{ include('historique_prices/_delete_form.html.twig') }}
{% endblock %}
